doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title MJ SUPREME
    style.
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    body
        div(style=`font-family: 'Montserrat', sans-serif; font-size: 12px; text-align: center; color: #8c8c8c; margin: 0px; background-color: #ececec; padding: 80px;`)
            table(style='font-size: 12px; text-align: justify; color: #8c8c8c; margin: auto; width: 100%; max-width: 680px;', border='0', cellspacing='0', cellpadding='0', align='center')
                tbody
                    tr(style='line-height: 0px; background-color: #fff; width: 100%; padding: 0px; margin: 0 auto;')
                        td(style='text-align: center;padding: 20px 0;')
                            img(style='max-width: 254px;', src=`${host}/img/logo.png`, alt='MJ SUPREME', hspace='5')

                    tr(style='background-color: #f6f6f6;')
                        td(style='text-align: left; padding: 30px; line-height: 30px; color: #3d3e5a;')
                            h3(style='font-size: 21px; font-weight: normal; margin-top: 0; margin-bottom: 25px;') Forgot your Password?
                            p(style='font-size: 16px; text-align: justify; margin: 0px; margin-bottom: 25px; font-weight: normal;') Hey #{name},
                            p(style='font-size: 16px; text-align: justify; margin: 0px; margin-bottom: 25px; font-weight: normal;')
                                | We've received a request to reset your password. Your new password link has been generated:

                            p(style='font-size: 16px; text-align: justify; margin: 0px; margin-bottom: 25px; font-weight: normal;')
                                | Token:
                                a(style='color: #3d3e5a; font-style: italic; font-weight: 700; cursor: pointer;', href=`${host}/verify-token/${token}`) #{token}
                            
                            p(style='font-size: 16px; text-align: justify; margin: 0px; margin-bottom: 25px; font-weight: normal;')
                                | For further assistance please contact us on the following:
                                br
                                | Email:
                                span
                                    a(style='color: #3d3e5a; text-decoration: none; font-style: italic; font-weight: 700; cursor: pointer;', href='mailto:info@mj-supreme.com;') &nbsp;info@mj-supreme.com
                                br
                                | Telephone:
                                span(style='color: #3d3e5a; font-style: italic; font-weight: 700;') &nbsp;+92 213 4835 054
                            p(style='font-size: 16px; text-align: justify; margin: 0px; margin-bottom: 0; font-weight: normal;')
                                | Regards,
                                br
                                | MJ SUPREME
                        
